<!DOCTYPE html>
<html>
<head>
    <title>edPlayground</title>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans:700|Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="main.css">
    <link rel="stylesheet" type="text/css" href="landing.css">
</head>
<body>

    <div class="section main">
        <div class="container">
            <div class="header">
                <a class="brand button disabled"><h1>edPlayground</h1></a>
                <div class="links">
                    <a href="/discover" class="button">Discover</a>
                    <a href="/learn" class="button">Learn</a>
                    <a href="/auth" class="button">Sign In</a>
                </div>
            </div>
            <div class="pitch">
                <p>
                    A new way of learning and teaching based on explotarion, discovery and experience.
                </p>
                <a href="/auth" class="button">Sign Up</a>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="container">
            <div class="cool-things columns">
                <div class="cool-thing column">
                    <i class="fas fa-graduation-cap"></i>
                    Learn about interesting topics and acquire useful skills to help you in
                    your <b>academic</b> and <b>professional</b> life.
                </div>
                <div class="cool-thing column">
                    <i class="fas fa-gamepad"></i>
                    The main source of knowledge of every course is based on games. Start <b>learning 
                    through play</b>!
                </div>
                <div class="cool-thing column">
                    <i class="fas fa-users"></i>
                    <b>Collaborate</b> with your classmates discussing about the course and 
                    try to get high in the <b>ranking</b>
                </div>
            </div>
        </div>
    </div>

    <div class="section featured">
        <div class="container">
            <span>Featured</span>
            <h1>Graph Search Algorithms</h1>
            <p>
                Finding the best path in a maze of possibilities
            </p>
            <a href="/discover" class="button clear">Discover</a>
        </div>
    </div>

    <div class="section">
        <div class="container">
            <div class="contact">
                <h2>
                    Do you want to make your own course?
                </h2>
                <h2>
                    Discover edPlayground's creation engine, based on the powerful Pixi.js library
                </h2>
                <a target="_blank" href="https://github.com/highlandbert/edPlayground-Engine" class="button clear">API Reference</a>
            </div>
        </div>
    </div>

    <div class="section footer">
        <div class="container">
            <div class="copyright">
                <p>edPlayground © 2018</p>
            </div>
        </div>
    </div>

</body>
</html>