* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

body {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
  font-family: 'Noto Sans', sans-serif;
}

.section {
  width: 100%;
  padding: 1em;
}

.container {
  margin: 0 auto;
  width: 100%;
}

.button {
  display: inline-block;
  text-decoration: none;
  border-radius: 0.15em;
  text-align: center;
  font-weight: bold;
  background: black;
  color: #eaeaea;
  padding: 1em;
  transition: background 0.25s, color 0.25s;
}

.button.clear {
  background: white;
  color: #3273dc;
}

.button:not(.disabled):hover {
  background: #3273dc;
  color: white;
  transition: background 0.1s, color 0.1s;
}

.hide-mobile {
  display: none;
}

.columns {
  display: flex;
  flex-direction: column;
}

.column {
  width: 100%;
}

input {
  display: block;
  font-size: 1em;
  padding: 0.5em;
  border: 0;
  border-bottom: 1px solid black;
  border-radius: 0.15em;
}

input:focus {
  outline: none;
}

textarea {
  display: block;
  width: 100%;
  padding: 1em;
  border: 1px solid black;
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
  border-radius: 0.15em;
}

.footer {
  background: black;
  color: white;
}

.footer .copyright {
  text-align: center;
  font-size: 0.8em;
}


@media screen and (min-width: 780px) {
  .container {
    width: 760px;
  }

  .hide-mobile {
    display: inherit;
  }

  .columns {
    flex-direction: row;
  }

  .column {
    width: 33%;
  }
}

@media screen and (min-width: 1000px) {
  .container {
    width: 980px;
  }
}